
.menu {
  padding: 20px 0px 44px 0px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  color: var(--text-color);
  fill: var(--bg-grey-color);
  line-height: 12px;
  position: relative;

  &.active {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  svg {
    fill: inherit;
  }
}

.text {
  margin-top: 8px;
}

.label {
  padding: 2px 4px;
  background-color: var(--accent-color);
  color: var(--black-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}