
:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #2D3146;
  --tg-theme-hint-color: #8E8E8E;
  --tg-theme-button-color: #F3D535;
  --tg-theme-button-text-color: #2D3146;

  //--button-background-color: #F3D535;
  //--button-text-color: #ffffff;
  //--accent-color: #F3D535;
  //--black-color: #2D3146;
  //--text-color: #8E8E8E;
  --bg-grey-color: #DEDEDE;
  --color-white: #ffffff;
  --color-error: #FF3737;
}


body {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #2D3146;
  --tg-theme-hint-color: #8E8E8E;
  --tg-theme-button-color: #F3D535;
  --tg-theme-button-text-color: #2D3146;

  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 377px;
  margin: 0 auto;
  padding: 32px 19px 0px 19px;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);

  &.darkTheme {
    --tg-theme-bg-color: #000;
    --tg-theme-text-color: #ffffff;
    --tg-theme-hint-color: #8E8E8E;

  }
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #F3D535;
  border-radius: 20px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #F3D535 transparent;
}

a {
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

select {
  width: 100%;
  padding: 6px;
  border-radius: 12px;
  color: var(--tg-theme-hint-color);
  border: 1px solid var(--tg-theme-button-color);
}

#root {
  height: 100%;
}

.menuBg {
  min-height: 85px;
}

.h1 {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 30px;
  position: relative;

  & .back {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.textCenter {
  justify-content: center;
  font-size: 25px;

  & .back {
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
  }
}

.error {
  color: var(--color-error);
  font-size: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}