
:root {
//var(--tg-theme-bg-color)
//var(--tg-theme-text-color)
//var(--tg-theme-hint-color)
//var(--tg-theme-link-color)
//var(--tg-theme-button-color)
//var(--tg-theme-button-text-color)

--tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #2D3146;
  --tg-theme-hint-color: #8E8E8E;
  --tg-theme-button-color: #F3D535;
  --tg-theme-button-text-color: #ffffff;

  //--button-background-color: #F3D535;
  //--button-text-color: #ffffff;
  //--accent-color: #F3D535;
  //--black-color: #2D3146;
  //--text-color: #8E8E8E;
  --bg-grey-color: #DEDEDE;
  --color-white: #ffffff;
  --color-error: #FF3737;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
}
body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: 'Montserrat', sans-serif;
}
a{
  color:inherit;
}
img {
  width: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  width: 377px;
  height: 812px;
  border: 1px solid;
  margin: 0 auto;
  padding: 32px 19px 320px 19px;
}

.h1 {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 30px;
  position: relative;

  & .back {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.textCenter {
  justify-content: center;
  font-size: 25px;

  & .back {
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
  }
}

.error {
  color: red
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-6{
  margin-bottom: 24px;
}