
.addAndEditForm {
  //height: 100%;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //gap:4px;
}
.box{
  display: flex;
  flex-direction: column;
  gap:4px;
}
.productDisabled{
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}