
.buttonGroup {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: var(--tg-theme-text-color);
}

.button {
  padding: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

