.title{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
}
.box{
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.genderGroup{
  display: flex;
  gap: 22px;
}