
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box {
  padding: 16px;
  border: 1px solid var(--bg-grey-color);
  border-radius: 16px;
}

.item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  font-weight: 600;
}

.link {
  width: 100%;
  font-size: 14px;
  color: var(--tg-theme-button-color);
}

.inner {
  display: flex;
  align-items: center;
  gap: 24px
}